<div class="col-md-3 col-sm-4 my-4">
    <a href="/product/1">
        <div class="product">
            <img class="zoom w-100 mb-4"
                 src="{{item.first_image}}"
                 alt="">
            <div class="fs-5 fw-bold">{{item.name}}</div>
            <button class="btn btn-sm btn-light rounded-pill d-flex align-items-center my-3">
                Apple
                <img class="logo ms-2"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Apple-logo.png/640px-Apple-logo.png"
                     alt="">
            </button>
            <p class="text-gray limit-3-line my-4" data-bs-toggle="tooltip"
               title=" {{item.description}}">
               {{item.description}}
            </p>
            <button type="button" class="btn btn-price w-100 text-white mt-2">
                <i class="fa-solid fa-cart-shopping me-2"></i>
                <span>24.190.000đ đ</span>
            </button>
        </div>
    </a>
</div>
