<x-layout>
    <x-slot name="styles">
        <link rel="stylesheet" href="/css/product.css">
    </x-slot>

    <div class="container min-h-screen my-5 pt-5">
        <div class="row mt-5 pt-4">
            <div class="col-md-5">Upload ảnh</div>
            <div class="col-md-6">
                <form id="form-upload-product">
                    <div class="form-group input-group input-group-lg mb-4">
                        <textarea style="resize: none; font-size: 30px " name="title" id="titleproduct" type="text"
                                  class="form-control ps-0 border-0 w-100 outline-0"
                                  aria-label="Sizing example input"
                                  aria-describedby="inputGroup-sizing-lg" type="text" placeholder="Nhập tên sản phẩm"></textarea>
                    </div>
                    <div class="form-group">
                    <textarea name="description" id="descriptionproduct" class="form-control border-0 outline-0 w-100 ps-0 py-3"
                              style="resize: none; height: 130px"
                              placeholder="Nhập mô tả (không quá 256 kí tự)"></textarea>
                    </div>

                    <div class="form-group mb-0">
                        <div id="editor-product" class="editor-tool"></div>
                    </div>

                    <div class="form-group my-4">
                        <label>Danh mục</label>
                        <div id="categoryproduct" class="dropdown dropdown-select">
                            <button class="btn w-100 text-start d-flex justify-content-between rounded-20 bg-gray border-0 p-2 px-3"
                                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="print fs-6">
                                    <div class="text-gray fs-6">
                                        Chọn danh mục sản phẩm
                                    </div>
                                </div>
                                <div>
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </button>
                            <ul class="dropdown-menu rounded-10 shadow-6 transition-0 border-0 w-100" aria-labelledby="selectTeacher">
                                @if(isset($categories))
                                    @foreach($categories['data'] as $category)
                                        <li class="d-flex align-items-center cursor-pointer w-100">
                                            <img src="{{$category['image_url']}}" alt="" class="logo-xl">
                                            <a data-value="{{$category['id']}}" class="flex-fill dropdown-item mx-2 px-4 py-2 rounded-10 w-auto">{{$category['name']}}</a>
                                        </li>
                                    @endforeach
                                @endif
                            </ul>
                        </div>
                    </div>
                    <div class="form-group my-4">
                        <lable>Chọn loại</lable>
                        <div id="type-product" class="dropdown dropdown-select">
                            <button class="btn w-100 text-start d-flex justify-content-between rounded-20 bg-gray border-0 p-2 px-3"
                                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="print fs-6">
                                    <div class="text-gray fs-6">
                                        Chọn loại
                                    </div>
                                </div>
                                <div>
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </button>
                            <ul class="dropdown-menu rounded-10 shadow-6 transition-0 border-0 w-100">
                                <li><a data-value="0" class="dropdown-item mx-2 px-4 py-2 rounded-10 w-auto">Điện thoại</a></li>
                                <li><a data-value="1" class="dropdown-item mx-2 px-4 py-2 rounded-10 w-auto">Phụ kiện</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <button id="save-data" type="button" class="btn btn-success btn-round py-3 px-4"
                                onclick="saveNewproduct()">Save
                        </button>
                        <a href="/product/" target="_blank" class="btn btn-round py-3 px-4" style="color: black">Open</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <x-slot name="scripts">
    </x-slot>
</x-layout>




