<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/manage-header.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/toastr.min.css"/>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div id="demo" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="text-white d-flex p-4">
                <a href="/"><i class="fa-solid fa-house me-3"></i></a>
                <h4>Manage</h4>
            </div>
            <hr class="text-gray">
            <div class="d-flex flex-column justify-content-between px-3 pt-2 text-white min-vh-100">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link" id="v-pills-store-tab" data-bs-toggle="pill" data-bs-target="#v-pills-care" type="button" role="tab" aria-controls="v-pills-care" aria-selected="true">Chăm sóc khách hàng</button>
                    <button class="nav-link active" id="v-pills-store-tab" data-bs-toggle="pill" data-bs-target="#v-pills-store" type="button" role="tab" aria-controls="v-pills-store" aria-selected="true">Sản phẩm</button>
                    <button class="nav-link" id="v-pills-statistical-tab" data-bs-toggle="pill" data-bs-target="#v-pills-statistical" type="button" role="tab" aria-controls="v-pills-statistical" aria-selected="false">Thống kê</button>
                    <button class="nav-link" id="v-pills-order-tab" data-bs-toggle="pill" data-bs-target="#v-pills-order" type="button" role="tab" aria-controls="v-pills-order" aria-selected="false">Hóa đơn</button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
                    <button class="nav-link" id="v-pills-account-tab" data-bs-toggle="pill" data-bs-target="#v-pills-account" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Quản lý tài khoản</button>
                </div>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="d-none d-sm-inline mx-1">{{Auth::user()->email}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">Thêm sản phẩm</a></li>
                        @if(Auth::user()->role == 0)
                           <li><a class="dropdown-item" href="#">Quản lý tài khoản</a></li>
                        @endif
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <div class="d-flex justify-content-between">
                <button class="btn border-0 outline-0" data-bs-toggle="collapse" data-bs-target="#demo"><i class="fa-solid fa-bars fs-4"></i></button>
                <div>
                    <a href="/"><i class="fa-solid fa-house me-2"></i>Trang chủ</a>
                    <a href="/logout">
                        <i class="fa-solid fa-arrow-right-from-bracket ms-4"></i>
                    </a>
                </div>
            </div>
            <div class="tab-content p-4" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-store" role="tabpanel" aria-labelledby="v-pills-store-tab">
                    <div data-bs-toggle="modal" data-bs-target="#modalUploadProduct" style="width: 200px" class="cursor-pointer bg-gray rounded-3">
                        <div data-bs-toggle="tooltip" data-bs-target="Thêm sp" class="card-bg-image d-flex align-items-center justify-content-center"
                             style="background-image: url('https://endlessicons.com/wp-content/uploads/2012/12/add-icon-614x460.png')"></div>
                    </div>
                    <div class="mt-4">
                        <h1>Các sản phẩm</h1>
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="#">Bộ lọc</a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Giảm giá
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="#">Tăng</a></li>
                                                <li><a class="dropdown-item" href="#">Giảm</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Nhãn hiệu
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <form class="d-flex">
                                        <input class="form-control me-2" type="search" placeholder="Tìm kiếm theo tên" aria-label="Search">
                                        <button class="btn btn-outline-success" type="submit">Search</button>
                                    </form>
                                </div>
                            </div>
                        </nav>
                        <div class="row">
                            <x-card-product-manage></x-card-product-manage>
                            <x-card-product-manage></x-card-product-manage>
                            <x-card-product-manage></x-card-product-manage>
                            <x-card-product-manage></x-card-product-manage>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-statistical" role="tabpanel" aria-labelledby="v-pills-statistical-tab">
                    <div class="text-end my-4">
                        <button class="btn btn-outline-info">Thống kê theo ngày</button>
                        <button class="btn btn-outline-info">Thống kê theo tháng</button>
                        <button class="btn btn-outline-info">Thống kê theo năm</button>
                    </div>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>#</th>
                            <th>Ngày</th>
                            <th>Tổng hóa đơn</th>
                            <th>Tổng doanh thu</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>6/8/20222</td>
                            <td>21</td>
                            <td>43.000.000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>6/8/20222</td>
                            <td>21</td>
                            <td>43.000.000</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-care" role="tabpanel" aria-labelledby="v-pills-statistical-tab">
                    <h1>Yêu cầu</h1>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tên</th>
                            <th scope="col">SĐT</th>
                            <th scope="col">Thời gian tạo</th>
                            <th scope="col">Trạng thái</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>08921331231<i class="fa-regular fa-copy ms-2 cursor-pointer" onclick="copyToClipboard('08921331231')"></i></td>
                            <td>12:12:12 8/8/2022</td>
                            <td><span class="text-danger">Không gọi được</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>08921331231</td>
                            <td>12:12:12 8/8/2022</td>
                            <td><span class="text-success">Đã tư vấn</span></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Minh</td>
                            <td>08921331231</td>
                            <td>12:12:12 8/8/2022</td>
                            <td><span class="text-warning">Đang chờ</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-order" role="tabpanel" aria-labelledby="v-pills-order-tab">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Mã HĐ</th>
                            <th>SĐT khách hàng</th>
                            <th>Thời gian đặt</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">

                </div>
                <div class="tab-pane fade" id="v-pills-account" role="tabpanel" aria-labelledby="v-pills-account-tab" tabindex="0">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Mã NV</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Trạng thái</th>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>nv1@gmail.com</td>
                            <td>1</td>
                            <td>active</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="demo" class="collapse">
    Lorem ipsum dolor text....
</div>
<x-modal-upload-product :categories="$categories"></x-modal-upload-product>
</body>

<script type="text/javascript" src="/js/app.js" defer></script>
<script type="text/javascript" src="/js/axios.min.js"></script>
<script type="text/javascript" src="/js/jquery.slim.min.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/sweet-alert.js"></script>
<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<script>
    @if(!Auth::user())
        location.href = '/';
    @endif

</script>
</html>
